<!-- profile-editor.component.html -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  
    <!-- Nested FormGroup for Address -->
    <div formGroupName="address">
      <h3>Address</h3>
      <label>
        Street:
        <input type="text" formControlName="street">
      </label>
      <label>
        City:
        <input type="text" formControlName="city">
      </label>
      <label>
        State:
        <input type="text" formControlName="state">
      </label>
      <label>
        Zip:
        <input type="text" formControlName="zip">
      </label>
    </div>
  
    <!-- FormArray for favorite books -->
    <div formArrayName="favoriteBooks">
      <h3>Favorite Books</h3>
      <button type="button" (click)="addBook()">Add Book</button>
      <div *ngFor="let book of favoriteBooks.controls; let i=index">
        <label>
          Book {{ i + 1 }}:
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </div>
  
    <!-- Submit Button -->
    <button type="submit">Submit</button>
  </form>
  